
* { box-sizing: border-box; }
.switch input { display: none; }

.switch label {
    position: relative;
    display: block;
    /* width: 100px; */
    /* height: 50px; */
    width: 80px;
    height: 30px;
    background: #888;
    border-radius: 60px;
    cursor: pointer;
    transition: 0.3s;
}

.switch label:before {
    position: absolute;
    top: 50%;
    /* left: 5px; */
    left: 0px;
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background: #eee;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
}

.switch input:checked + label {
    background: #00acee;
}

.switch input:checked + label::before {
    /* left: 55px; */
    left: 40px;
}
